div, input {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    background: #EEEEEE;
}

.App {
    display: flex;
}

.flex-1 {
    flex: 1 !important;
}

.flex-2 {
    flex: 2 !important;
}

.flex-3 {
    flex: 3 !important;
}

.flex-4 {
    flex: 4 !important;
}

.flex-5 {
    flex: 5 !important;
}

.flex-6 {
    flex: 6 !important;
}

.editor-buttons {
    display: flex;
    margin-bottom: 1em;
}

.editor-buttons button {
    font-family: 'Libre Baskerville', 'Lora', 'Calisto MT', 'Bookman Old Style', Bookman, 'Goudy Old Style', Garamond, 'Hoefler Text', 'Bitstream Charter', Georgia, serif;
    font-size: 1.2rem;
    color: #5d190b;
    line-height: 1.2em;
    margin: 0;
    font-variant: small-caps;
    font-weight: bold;
    padding: 0.5em 1em;
}

.panel {
    box-shadow: 0 0 1.5rem #867453;
    text-align: left;
    line-height: 1.2em;
    display: inline-block;
    vertical-align: top;
    background-size: cover;
    background: #FDF1DC;
    padding: 10px 10px 20px;
    box-sizing: border-box;
    font-family: 'Noto Sans', 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
    flex: 1;
}

.orange-border {
    display: block;
    background: #E69A28;
    background-size: cover;
    background-position: center;
    border: 1px solid #000;
    height: 5px;
    padding: 0 10px 0;
    margin: -10px -10px 0;
    box-sizing: initial;
}

.orange-border.bottom {
    margin: 15px -10px -20px;
}

.scores {
    text-align: center;
}

.scores > div {
    display: inline-block;
    vertical-align: middle;
    width: 15.5%;
    min-width: 40px;
    font-size: 1rem;
    line-height: 1em;
}

.scores h4 {
    margin: 0 0 2px;
    font-size: 1.2em;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #5d190b;
}

.scores div {
    margin: 0;
    line-height: 1.25em;
}

.panel h3 {
    border-bottom: 2px solid #7A200D;
    color: #7A200D;
    font-size: 1.6em;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 0.9em 0 0.4em;
    padding: 0 0 0.2em;
}

.paragraph {
    display: block;
    text-indent: 1em;
}

ul.spells {
    margin: 0.5em 0;
    padding: 0;
}

ul.spells li {
    list-style: none;
    padding-left: 1em;
    text-indent: -1em;
}

.legendary-action {
    padding-left: 1em;
    text-indent: -1em;
    display: block;
}

.cr-details h4 {
    margin: 0.5em 0 0.2em;
}

.cr-details .line {
    margin: 0 0 0 1em;
}

.cr-details .value {
    float: right;
}
